[Desktop Entry]
Name=KTagebuch
Name[ca]=KTagebuch
Name[cs]=KTagebuch
Name[da]=KTagebuch
Name[de]=KTagebuch
Name[el]=KTagebuch
Name[en_GB]=KTagebuch
Name[es]=KTagebuch
Name[et]=KTagebuch
Name[fr]=KTagebuch
Name[ga]=KTagebuch
Name[gl]=KTagebuch
Name[hu]=KTagebuch
Name[it]=KTagebuch
Name[ja]=KTagebuch
Name[km]=KTagebuch
Name[ko]=KTagebuch
Name[lv]=KTagebuch
Name[nds]=KTagebuch
Name[nl]=KTagebuch
Name[nn]=KTagebuch
Name[pa]=KTagebuch
Name[pl]=KTagebuch
Name[pt]=KTagebuch
Name[pt_BR]=KTagebuch
Name[ro]=KTagebuch
Name[ru]=KTagebuch
Name[sr]=KTagebuch
Name[sr@latin]=KTagebuch
Name[sv]=KTagebuch
Name[tr]=KTagebuch
Name[uk]=KTagebuch
Name[x-test]=xxKTagebuchxx
Name[zh_CN]=KTagebuch
Name[zh_TW]=KTagebuch
Exec=ktagebuch %i -caption "%c"
Icon=ktagebuch
Type=Application
X-DocPath=ktagebuch/index.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
X-Ubuntu-Gettext-Domain=desktop_kdesdk
